
@import 'https://fonts.googleapis.com/css?family=Poiret+One|Raleway';

body {
    padding-top: 50px;
    background-color: #fcfcfc;
    font-family: 'Raleway', sans-serif;
}

dt {
    font-weight: 900;
    padding-top:10px;   
}

dd {
    padding-left:10px;
}

.droptarget {
    min-height: 100px;
    border: 2px dashed #337ab7;
    color: #337ab7;
    padding: 40px;
}

.droptarget:after {
    content: 'Drop Image Here to Upload';
}

.droptarget.hover {
    border: 4px dashed #23527c;
    color: #23527c;
    font-weight:bolder;
}

.droptarget.loading {
    border: 2px solid #3c763d;
    color: #3c763d;
}

.droptarget.loading:after {
    content: 'Loading...';
}

header h1 {
    font-size: 4em;
}

header h1, header h1 small, .navbar-brand {
    font-family: 'Poiret One', sans-serif;
    font-weight:900;
    letter-spacing: 1px;
}

.header-image {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url(/images/Cincinnati-Skyline.jpg) no-repeat center top fixed;
    min-height:300px;
}

.header-image * {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #1a1a1a;
    color: #fff;
}

.header-image h1 {
    margin-top: 75px;
    text-align: center;
    margin-bottom: 0;
}

.home-block {
    height: 140px;
    background-color: rgba(81,81,81,1);
    border: 10px solid white;
    cursor: pointer;
}

.home-block:hover {
    background-color: #222;
}

.home-block a {
    color: #fff;
    display:block;
}

.home-block a:hover, .home-block:hover a {
    text-decoration:none;
    color: #e3e3e3;
}

.list .img-thumbnail {
    max-width: 220px;
    max-height: 220px;
}

.main {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-top:none;
    border-bottom: none;
    min-height: 800px;
}

.carousel img {
    width: auto;
    height: 300px;
    max-height: 300px;
    display:block;
    margin:auto;
}

.page-footer {
    background-color: rgba(81,81,81,1);
    color: #fff;
    text-shadow: 0 1px #1f1f1f;
    padding: 40px 0;
}

.tab-content {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 4px 4px;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
