body {
    padding-top: 70px;
}

.media-object {
    max-width:64px;
    max-height: 64px;
}

.carousel img {
    width: auto;
    height: 300px;
    max-height: 300px;
    display:block;
    margin:auto;
}