---
layout: form
title: Add a Person
---

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
    <li><a href="/people/">People</a></li>
  <li class="active">{{page.title}}</li>
</ol>
<form class="github-form" action="#" method="get" data-analytics-id="Add Person">
    <input name="path" type="hidden" value="_people/" />
    <fieldset>
        <legend>Add / Update a Person</legend>
        <div class="form-group">
            <label for="title">Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" required="required" name="title" />
        </div>
        <div class="form-group">
            <label for="image">Image <span class="text-danger">*</span></label>
            <div class="row upload-container">
                <div class="col-xs-6">
                    <div class="droptarget"></div>
                </div>
                <div class="col-xs-6 upload-res">
                    <img src="http://placehold.it/350x150?text=Upload%20Image" class="img-responsive" data-key="image" />
                    <input type="hidden" required="required" name="image" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="content">Bio</label>
            <textarea class="form-control wysiwyg" name="content"></textarea>
        </div>
        <div class="form-group repeating-parent" data-name="links">
            <fieldset class="hide" disabled="disabled">
                <div class="repeating-item repeating-template">
                    <div class="row">
                        <div class="col-xs-10">
                            <input type="url" required="required" class="form-control" placeholder="http://" name="links">
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-default repeating-remove">-</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <label for="links">Links</label>
            <div class="repeating-container">
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" class="btn btn-default repeating-add">+</a> 
                </div>
            </div>
        </div>
        <div class="form-group repeating-parent" data-name="companies">
            <datalist id="companies-list">
                
            </datalist>
            <fieldset class="hide" disabled="disabled">
                <div class="repeating-item repeating-template">
                    <div class="row">
                        <div class="col-xs-10">
                            <select required="required" class="form-control" placeholder="Company" name="companies">
                                <option value="">--- Please Select ---</option>
                                {% assign companies = (site.companies | sort: 'title') %}
                                {% for company in companies %}
                                    <option value="{{company.url}}">{{company.title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-default repeating-remove">-</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <label for="companies">Companies</label>
            <div class="repeating-container">
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" class="btn btn-default repeating-add">+</a> 
                </div>
            </div>
        </div>
        <div class="form-group repeating-parent" data-name="projects">
            <fieldset class="hide" disabled="disabled">
                <div class="repeating-item repeating-template">
                    <div class="row">
                        <div class="col-xs-10">
                            <select required="required" class="form-control" name="projects">
                                <option value="">--- Please Select ---</option>
                                {% assign projects = (site.projects | sort: 'title') %}
                                {% for item in projects %}
                                    <option value="{{item.url}}">{{item.title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-default repeating-remove">-</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <label for="projects">Projects &amp; Products</label>
            <div class="repeating-container">
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" class="btn btn-default repeating-add">+</a> 
                </div>
            </div>
        </div>
        <div class="form-group repeating-parent" data-name="groups">
            <fieldset class="hide" disabled="disabled">
                <div class="repeating-item repeating-template">
                    <div class="row">
                        <div class="col-xs-10">
                            <select required="required" class="form-control" name="groups">
                                <option value="">--- Please Select ---</option>
                                {% assign groups = (site.groups | sort: 'title') %}
                                {% for item in groups %}
                                    <option value="{{item.url}}">{{item.title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-default repeating-remove">-</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <label for="groups">Groups</label>
            <div class="repeating-container">
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" class="btn btn-default repeating-add">+</a> 
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Your Information</legend>
        <div class="form-group">
            <label for="author">Your Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" required="required" name="author" />
        </div>
        <div class="form-group">
            <label for="authorName">Your Email <span class="text-danger">*</span></label>
            <input type="email" class="form-control" required="required" name="authorEmail" />
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <input type="hidden" name="layout" value="profile" />
            <input type="hidden" name="created" />
            <button class="btn btn-success"><span class="glyphicon glyphicon-cloud-upload"></span> Submit Update</button>
            <a href="/people/" class="btn btn-default">Cancel</a>
        </div>
    </fieldset>
</form>