{% if items != null and items.size > 0 %}
    {% for itemUrl in items %}
        {% assign collection = collection | where:"url", itemUrl %}
        {% for item in collection %}                       
            <div class="col-sm-3 col-xs-6 text-center">
                <a href="{{item.url}}">
                    <img class="img-responsive img-thumbnail" src="{{item.image}}" alt="{{item.title}}" /><br/>
                    {{item.title}}
                </a>
            </div>
        {% endfor %}
    {%endfor%}
{% endif %}