---
layout: default
base: /companies/
---

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/companies">Companies</a></li>
    <li class="active">{{page.title}}</li>
</ol>
<div class="row">
    <div class="col-sm-4">
        <div class="well">
            <img class="img-responsive img-thumbnail center-block" src="{{page.image}}" alt="{{page.title}}" />
        </div>
    </div>
    <div class="col-sm-8">
        <h2>{{page.title}}</h2>
        {%include share.html %}
        {{content}}
        {% include location.html %}
        {% include links.html %}
        {% include tags.html %}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Projects &amp; Products</h3>
    </div>
    {% assign item=page.url %}
    {% assign collection=site.projects %}
    {% assign attr='company' %}
    {% include related-link-block.html %}
</div>
<br/>
{% include carousel.html %}
<br/>
{% assign base="/companies/" %}
{% include edit.html %}