---
layout: default
---


<div class="row">
    <div class="col-sm-8">
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">{{page.title}}</li>
        </ol>
        <h3>Industries</h3>
        <div class="row">
            {% assign industries = (site.pages | where: "layout", "company-list") %}
            {% for industry in industries %}
                <div class="col-sm-4 home-block">
                    <h3 class="text-center">
                        <a href="{{ industry.url }}" title="{{ industry.title }} Companies in Cincy">
                            <span class="{{ industry.icon }}" aria-hidden="true"></span>
                            <br />
                            {% assign industry_companies = (site.companies | where: "industry", industry.url) %}
                            <span>{{industry_companies.size}}</span> {{ industry.title }}
                        </a>
                    </h3>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-4">
        <h3>Recently Created Companies</h3>
        <ul class="list-unstyled">
            {% assign companies = site.companies | sort: 'created' | reverse %}
            {% for item in companies limit: 5 %}
               {% include item.html %}
            {% endfor %}
        </ul>
    </div>
</div>