---
layout: default
---

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">{{page.title}}</li>
</ol>
{{content}}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-text">
                <span class="badge">{{ site[page.list] | size }}</span> {{page.title}}
            </div>
        </div>
        <div class="pull-right">
            <a href="{{page.addLink}}" class="btn btn-success navbar-btn">
                <span class="glyphicon glyphicon-plus-sign"></span> Add {{page.title}}
            </a>
        </div>
        <form class="navbar-form navbar-left" data-toggle="filter" data-target=".list-unstyled li" action="#" method="get">
            <div class="form-group">
                <input type="text" name="term" class="form-control" placeholder="Filter" />
            </div>
        </form>
    </div>
</nav>
<ul class="list-unstyled list">
    {% assign events = site.events | sort:startDate %}
    {% for item in events %}
        {% capture today %}{{ "now" | date: "%s" }}{% endcapture %}
        {% capture endDate %}{{ item.endDate | date: "%s" }}{% endcapture %}
        {%if endDate > today %}
            <li>
                <div class="row">
                    <div class="col-sm-3">
                        <a href="{{item.url}}" title="{{item.title}}">
                            <img class="center-block img-responsive img-thumbnail" src="{{item.image}}" alt="{{item.title}}" />
                        </a>
                    </div>
                    <div class="col-sm-9">
                        <h3>
                            <a href="{{item.url}}" title="{{item.title}}">
                            {{item.title}}
                            </a>
                        </h3>
                        <strong>
                            {% if item.displayTime %}
                                <span class="glyphicon glyphicon-time"></span> Starts {{ item.startDate | date: site.time_format }}
                            {% else %}
                                <span class="glyphicon glyphicon-time"></span> Starts {{ item.startDate | date: site.date_format }}
                            {% endif %}
                        </strong><br/>
                        {{item.content | strip_html | truncatewords: 100 }}
                    </div>
                </div>
                <hr/>
            </li>
        {% endif %}
    {% endfor %}
</ul>
