---
layout: default
---

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">{{page.title}}</li>
</ol>
{{content}}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-text">
                <span class="badge">{{ site[page.list] | size }}</span> {{page.title}}
            </div>
        </div>
        <div class="pull-right">
            <a href="{{page.addLink}}" class="btn btn-success navbar-btn">
                <span class="glyphicon glyphicon-plus-sign"></span> Add {{page.title}}
            </a>
        </div>
    </div>
</nav>
<ul class="list-unstyled">
    {% for item in site[page.list] | sort: startDate %}
        {% capture today %}{{ "now" | date: "%s" }}{% endcapture %}
        {% capture endDate %}{{ item.endDate | date: "%s" }}{% endcapture %}
        {%if endDate > today %}
            <li>
                <div class="row">
                    <div class="col-sm-3">
                        <a href="{{item.url}}" title="{{item.title}}">
                            <img class="media-object img-responsive img-thumbnail" src="{{item.image}}" alt="{{item.title}}" />
                        </a>
                    </div>
                    <div class="col-sm-9">
                        <h4 class="media-heading">
                            <a href="{{item.url}}" title="{{item.title}}">
                            {{item.title}}
                            </a>
                        </h4>
                        <strong>
                            <span class="glyphicon glyphicon-time"></span> Starts {{ item.startDate | date: "%b %d, %Y at %r" }}
                        </strong><br/>
                        {{item.content | strip_html}}
                    </div>
                </div>
                <hr/>
            </li>
        {% endif %}
    {% endfor %}
</ul>