---
layout: default
---

<div class="row">
    <div class="col-sm-8">
        {{content}}
    </div>
    <div class="col-sm-4">
        <div class="well">
            <h2>FAQ</h2>
            <hr/>
            <h4>How long will it take for submissions to be reviewed?</h4>
            <p>
                Usually anywhere from 24 - 48 hours, though it depends on my workload. 
                If you don't hear anything with 48 hours, <a href="/contact">Contact Us</a>
            </p>
            <h4>Will my project / company / profile automatically be listed?</h4>
            <p>
                Nope. Every submission is manually reviewed. We accept / modify / reject submissions solely on our discretion.
            </p>
            <h4>Why do you need my name and email?</h4>
            <p>
                Your name will be used to set the last person whom has authored this item. 
                If we have any questions about your changes, we need your email to contact you. It will not be publically listed on the site.
            </p>
            <h4>Can I get my project / company / profile featured?</h4>
            <p>
                At the moment, no, but this is something we plan in the future.
            </p>
        </div>
    </div>
</div>

