---
layout: default
base: /groups/
---

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/groups">Groups</a></li>
    <li class="active">{{page.title}}</li>
</ol>
<div class="row">
    <div class="col-sm-4">
        <div class="well">
            {% if page.image %}
                <img class="img-responsive img-thumbnail center-block" src="{{page.image}}" alt="{{page.title}}" />
            {% endif %}
        </div>
    </div>
    <div class="col-sm-8">
        <h2>{{page.title}}</h2>
        {%include share.html %}
        <h4>Description</h4>
        {{content}}
        {% include links.html %}
    </div>
</div>
{% assign header='Members' %}
{% assign item=page.url %}
{% assign collection=site.people %}
{% assign attr='groups' %}
{% include related-link-block.html %}
<div class="row">
    <div class="col-md-12">
        <h4>Upcoming Events</h4>
        <ul>
            {% assign events = (site.events | where: event.group, page.url) %}
            {% for event in events %}
                {% capture today %}{{ "now" | date: "%s" }}{% endcapture %}
                {% capture endDate %}{{ event.endDate | date: "%s" }}{% endcapture %}
                {%if endDate > today %}
                    <li>
                        <a href="{{event.url}}">
                            {{event.title}} &mdash; Starts {{ event.startDate | date: site.time_format }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% assign base="/groups/" %}
{% include edit.html %}
{% include comments.html %}