---
layout: default
base: /groups/
---

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/groups">Groups</a></li>
    <li class="active">{{page.title}}</li>
</ol>
<div class="col-sm-4">
    <div class="well">
        {% if page.image %}
            <img class="img-responsive img-thumbnail center-block" src="{{page.image}}" alt="{{page.title}}" />
        {% endif %}
    </div>
</div>
<div class="col-sm-8">
    <h2>{{page.title}}</h2>
    {%include share.html %}
    <h4>Description</h4>
    {{content}}
    {% include links.html %}
    <h4>Upcoming Events</h4>
    <ul>
        {% for event in site.events %}{% if event.group == page.url  %}
            {% capture today %}{{ "now" | date: "%s" }}{% endcapture %}
            {% capture endDate %}{{ event.endDate | date: "%s" }}{% endcapture %}
            {%if endDate > today %}
                <li>
                    <a href="{{event.url}}">
                        {{event.title}} &mdash; Starts {{ event.startDate | date: "%b %d, %Y at %r" }}
                    </a>
                </li>
            {% endif %}
        {% endif %}{% endfor %}
    </ul>
</div>
<br/>
{% assign base="/groups/" %}
{% include edit.html %}
{% include comments.html %}