---
layout: default
---
<div class="row">
    <div class="col-sm-6">
        <h2 class="text-uppercase">About Made in Cincy</h2>
        <div class="well">
            {{ content }}
        </div>
        <br/>
        <br/>
        <h2>News &amp; Updates</h2>
        <div class="news">
            <section itemscope itemtype="http://schema.org/Blog" class="row">
                {% for post in site.posts | limit: 3 %}
                    {% include post.html %}
                {% endfor %}
            </section>
        </div>
        <a href="/blog" class="btn btn-primary"><span class="glyphicon glyphicon-bullhorn"></span> More News &amp; Updates</a>
    </div>
    <div class="col-sm-6">
        <h2 class="text-uppercase">Cincinnati is Home To</h2>
        <div class="row">
            <div class="col-sm-6 home-block">
                <h3 class="text-center">
                    <a href="/people">
                        <span class="glyphicon glyphicon-user"></span>
                        <br/>
                        <span>{{ site.people | size }}</span> People
                    </a>
                </h3>
            </div>
            <div class="col-sm-6 home-block">
                <h3 class="text-center">
                    <a href="/companies">
                        <span class="glyphicon glyphicon-briefcase"></span>
                        <br/>
                        <span>{{ site.companies | size }}</span> Companies
                    </a>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 home-block">
                <h3 class="text-center">
                    <a href="/groups">
                        <span class="glyphicon glyphicon-comment"></span>
                        <br/>
                        <span>{{ site.groups | size }}</span> Groups
                    </a>
                </h3>
            </div>
            <div class="col-sm-6 home-block">
                <h3 class="text-center">
                    <a href="/projects">
                        <span class="glyphicon glyphicon-send"></span>
                        <br/>
                        <span>{{ site.projects | size }}</span> Projects &amp; Products
                    </a>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 home-block col-sm-offset-3">
                <h3 class="text-center">
                    <a href="/events">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <br/>
                        <span>{{ site.events | size }}</span> Events
                    </a>
                </h3>
            </div>
        </div>
    </div>
</div>