---
layout: default
---

<div class="row">
    <div class="col-sm-6">
        <h2>About Made in Cincy</h2>
        <div class="well">
            {{ content }}
        </div>
        <br/>
        <br/>
        <h2>News &amp; Updates</h2>
        <hr/>
        <div class="news">
            <section itemscope itemtype="http://schema.org/Blog">
                {% assign posts = (site.posts | limit: 3) %}
                {% for post in posts %}
                    <div class="row">
                        {% include post.html %}
                    </div>
                    <hr/>
                {% endfor %}
            </section>
        </div>
        <br/>
        <a href="/blog/" class="btn btn-primary"><span class="glyphicon glyphicon-bullhorn"></span> More News &amp; Updates</a>
    </div>
    <div class="col-sm-6">
        <h2>Cincinnati is Home To</h2>
        <div class="row">
            <div class="col-sm-6 home-block">
                <h3 class="text-center">
                    <a href="/people/" title="People Making in Cincy">
                        <span class="fa fa-user fa-3x"></span>
                        <br/>
                        <span>{{ site.people | size }}</span> People
                    </a>
                </h3>
            </div>
            <div class="col-sm-6 home-block">
                <h3 class="text-center">
                    <a href="/companies/" title="Companies in Cincy">
                        <span class="fa fa-briefcase fa-2x"></span>
                        <br/>
                        <span>{{ site.companies | size }}</span> Companies
                    </a>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 home-block">
                <h3 class="text-center">
                    <a href="/groups/" title="Groups in Cincy">
                        <span class="fa fa-comment fa-2x"></span>
                        <br/>
                        <span>{{ site.groups | size }}</span> Groups
                    </a>
                </h3>
            </div>
            <div class="col-sm-6 home-block">
                <h3 class="text-center">
                    <a href="/projects/" title="Projects and Products Made in Cincy">
                        <span class="fa fa-send fa-2x"></span>
                        <br/>
                        <span>{{ site.projects | size }}</span> Projects &amp; Products
                    </a>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 home-block col-sm-offset-3">
                <h3 class="text-center">
                    <a href="/events/" title="Maker Events in Cincy">
                        <span class="fa fa-calendar fa-2x"></span>
                        <br/>
                        <span>{{ site.events | size }}</span> Events
                    </a>
                </h3>
            </div>
        </div>
    </div>
</div>
