---
layout: default
---

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/people">People</a></li>
    <li class="active">{{page.title}}</li>
</ol>
<div class="col-sm-4">
    <div class="well">
        <img class="img-responsive img-thumbnail center-block" src="{{page.image}}" alt="{{page.title}}" />
    </div>
</div>
<div class="col-sm-8">
    <h2>{{page.title}}</h2>
    <h4>Bio</h4>
    {{content}}
    {% include location.html %}
    {% include links.html %}
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Projects &amp; Products</h3>
    </div>
    {% assign count='' %}
    {% for productUrl in page.products %}
        {% for product in site.products %}{% if product.url == productUrl  %}
            {% capture count %}{{capture}}.{% endcapture %}                               
            <div class="col-sm-3 col-xs-6 text-center">
                <a href="{{product.url}}">
                    <img class="img-responsive img-thumbnail" src="{{product.image}}" alt="{{product.title}}" />
                    {{product.title}}
                </a>
            </div>
        {% endif %}{% endfor %}
    {%endfor%}
</div>
<br/>